.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
  margin: auto;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  left: 28%;
  position: relative;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin: auto;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  /*display: flex;*/
  flex-direction: row;
  margin:auto;
  text-align: center;
}

.game-info {
  margin: auto;
}
.winner{
  background-color: #0da000;
}
.normal{
  padding: 20px 20px;
  margin: auto;
  background-color: green;
}
.up{
  margin: auto;
}
.cell{
  padding: 30px 30px;
  margin: auto;
}
.died{
  padding: 20px 20px;
  margin: auto;
  background-color: red;
}
.red{
  background: red;
  border: 1px solid #999;
  float: left;
  left: 28%;
  position: relative;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin: auto;
  padding: 0;
  text-align: center;
  width: 34px;
}
.inp{
  height: 50px;
  width: 50px;
}
.inp2{
    padding: 50px 50px;
}